:root{
    --page-background: #d8d8d8;
    --form-background: #FFF;
    --dark-grey: #2e2e2e;
    --title-color: #9f0d0d;
    --default-space: 20px;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.msg{
    font-size: .8em;
}
div.checkboxes .msg{
    display: block;
}
.error-msg{
    color: #a00f0f;
}
input, select, button{
    font-size: inherit;
}
input:focus, select:focus, input:focus + span{
    outline: none;
    box-shadow: 0 0 3px rgba(68, 141, 195, 0.75);
}
input.valid{
    box-shadow: 0 0 3px rgba(25, 136, 29, 0.75);
}
input.invalid{
    box-shadow: 0 0 3px rgba(160, 15, 15, 0.75);
}
select:-moz-focusring{
    color: transparent;
    text-shadow: 0 0 0 #000;
}
body{
    background: var(--page-background);
    font-family: Verdana, sans-serif;
    font-size: 1rem;
}
section {
    margin: 0 auto;
}
section > h1{
    color: var(--title-color); 
}
form fieldset {
    background: var(--form-background);
    padding: var(--default-space);
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    margin-bottom: var(--default-space);
}
form fieldset legend{
    font-size: 1.3em;
    color: var(--title-color);
    padding: 0 var(--default-space);
    background: var(--form-background);
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}
form fieldset > div {
    margin-bottom: var(--default-space);
}
form input{
    padding: 5px;
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    color: var(--dark-grey);
}
form input[type=radio], form input[type=checkbox]{
    width: auto;
}
/*Mise en forme de la liste déroulante*/
form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    padding: 5px;
    background: url(../images/caret-down.svg) 98% center / 1em no-repeat;
    padding-right: 40px;
}
/*Mise en forme des cases à cocher*/
form input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
form input[type=checkbox] + span{
    background: url(../images/circle.svg) left center / 1em no-repeat;
    padding: 10px 1.2em;
    display: inline-block;
}
form input[type=checkbox]:checked + span{
    background: url(../images/check-circle.svg) left center / 1em no-repeat;
}
/*Mise en forme des boutons radio*/
form div.radios label{
    position: relative;
}
form input[type=radio]{
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}
form input[type=radio] + span{
    border: 1px solid var(--dark-grey);
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FFF, #E0E0E0);
    border-bottom-width: 0px;
}
form input[type=radio]:checked + span{
    background: linear-gradient(#9F0D0D, #AD2424);
    color: #FFF;
}
form div.radios label:last-child span{
    border-bottom-width: 1px;
    border-radius: 0 0 5px 5px;
}
form div.radios label:first-child span{
    border-radius: 5px 5px 0 0;
}
/*Mise en forme des boutons*/
form button{
    background: linear-gradient(#FFF, #E0E0E0);
    border: 1px solid var(--dark-grey);
    padding: 8px;
    border-radius: 5px;
}
form button:hover{
    background: linear-gradient(#9F0D0D, #AD2424);
    color: #FFF;
}
/*mise en page du formulaire sur les Smartphones*/
form div.text label, form div.select label{
    display: none;
}
form input[type=date]::before{
    content: attr(placeholder)" ";
    white-space: pre-wrap;
}
form input[type=date]:valid::before{
    content: "";
}
form div.checkboxes{
    display: flex;
    flex-flow: column wrap;
}
@media screen and (min-width: 768px){
    form div.text label, form div.select label{
        display: inline-block;
        margin-bottom: 5px;
    }
    form input[type=date]::before{
        content: "";
    }
    form select{
        width: 100%;
    }
    form div.radios{
        display: flex;
    }
    form div.radios span {
        border-bottom-width: 1px;
        border-right-width: 0px;
    }
    form div.radios label:first-child span{
        border-radius: 5px 0 0 5px;
    }
    form div.radios label:last-child span{
        border-right-width: 1px;
        border-radius: 0 5px 5px 0;
    }
    form div.checkboxes{
        flex-flow: row wrap;
    }
}
@media screen and (min-width: 1024px){
    form div.text, form div.select{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .msg{
        grid-column: span 1 / -1;
    }
}
@media screen and (min-width: 1280px){
    section{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    form{
        display: grid;
        grid-template-areas: 
            "info info account"
            "info info options"
            "submit submit submit";
        grid-gap: 20px;
    }
    form fieldset{
        margin: 0;
    }
    form fieldset:nth-child(1){
        grid-area: info;
    }
    form fieldset:nth-child(2){
        grid-area: account;
    }
    form fieldset:nth-child(3){
        grid-area: options;
    }
    form fieldset:nth-child(4){
        grid-area: submit;
    }
    form div.radios span{
        font-size: 0.85em;
    }
    form div.text label, form div.select label{
        padding-right: 10px;
    }
}




